pre.sample-code {
  direction: ltr;
  text-align: left;
  color: white;
  background: #6c757d !important;
  padding: 20px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}


.block-header:hover .permalink-anchor {
  display: inline;
}

.block-header .permalink-anchor {
  display: none;
}

.regate-example-container{margin:25px 0;background:white}
.regate-example-container .regate-example{border:0.2rem solid #e6ebf4;padding:20px 20px}
.regate-example-container .regate-code{background:#f9fafc}
.regate-example-container .regate-code pre{border-top-left-radius:0;border-top-right-radius:0;margin:0}
.regate-example-container .regate-code pre code{padding:15px 20px;background:transparent}
.regate-example-container .regate-terminal{background:#e3e3ea;border-radius:0;padding:15px 20px}
.regate-example-container .regate-terminal pre{margin:0}
.regate-example-container .regate-terminal [data-type="string"]{color:maroon}
.regate-example-container .regate-terminal [data-type="boolean"]{color:purple}
.regate-example-container .regate-terminal [data-type="number"]{color:blue}
.regate-example-container .regate-terminal [data-type="title"]{color:gray}
.regate-example-container .regate-terminal [data-type="value"]{color:black}
.regate-example-container .regate-terminal code{display:inline-block}
.regate-example-container .regate-terminal code+code{margin-left:20px}
.regate-example-container .regate-terminal:before{opacity:0.3;font-family:monospace}
.regate-example-container .regate-terminal:empty:before{content:'OUTPUT'}
.regate-example-container .regate-serialize { font-family:monospace; padding: 5px 20px; font-size:87.5%; }
.regate-example-container .regate-serialize:empty:before { content: 'SUBMITTED FORM DATA WILL BE SHOWN HERE'; opacity: 0.3;}

.permalink-anchor { visibility: hidden; }
h2:hover .permalink-anchor { visibility: visible; }

.text-xs-center {
  text-align: center;
}

.nav-main-item.active a {
  background: #e1effe;
}

.regate-icon {
  width: 16px;
  height: auto;
  margin-right: 9px;
}

a.link {
  background: rgba(187,239,253,0.3);
  background: rgba(225, 239, 254, 0.64);
  color: #1a1a1a;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgb(6, 101, 208, 0.3);
  display: inline-block;
  padding: 0 5px 0;
}

a.link:hover {
  background: rgba(225, 239, 254);
  border-bottom-color: #0665d0;
  border-bottom-color: rgb(6, 101, 208, 0.7);
}