<div data-role='RegateFile'>
  <div class='input-group'>
    <div class='input-group-prepend' data-role='uploadContainer'>
      <button type='button'
          class='btn btn-secondary'
          data-role='upload'>
        <i class='fa fa-search mr-1'></i> CHOOSE
      </button>
    </div>

    <input type='text'
      style='pointer-events: none;'
      onfocus='this.blur();'
      data-role='input'
      class='form-control' />

    <div class='input-group-append' data-role='assetContainer'>
      <button type='button' class='btn btn-outline-secondary' data-role='remove'>
        <i class='fa fa-fw fa-times'></i>
      </button>
      <a href='#' target='_blank' class='btn btn-outline-secondary' data-role='view'>
        <i class='fa fa-fw fa-download'></i>
      </a>
    </div>
  </div>
</div>