<h1>RegateFile</h1>

<div id="RegateFile__Avatar__735481491eaf478da4e72947495f99ad"><% include html.html %></div>
<script><% include script.js %></script>
<style><% include style.css %></style>


<script>
  initRegateFile({
    uniqueId: 'RegateFile__Avatar__735481491eaf478da4e72947495f99ad',
    name: 'Avatar',
    isRequired: true,
    value: 'salam',
    uploaderUrl: '/Uploader',
    repositoryUrl: '/repository/'
  })
</script>